doctype html 
html
    head
        title Harry potter 1
        link(rel="stylesheet", href="/css/layout.css")
        block styles
        block script
        
    body
        #wrapper
            .header
                .webname
                    a(href= "/") Harry Potter and the Philosopher's Stone
                .nav
                    a()="Hello! "
                    a()
                    a() 
                    a() 
                    a() 

            block main